[user]
	name = Jardel Weyrich
	email = jweyrich@gmail.com
[core]
	editor = vim
	excludesfile = /Users/jweyrich/.gitignore
	autocrlf = input
[branch]
	autosetupmerge = true
[color]
	ui = auto
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = jweyrich@gmail.com
	smtpserverport = 587
[alias]
	st = status
	ci = commit
	co = checkout
	unadd = reset
	unstage = reset HEAD
	uncommit = reset --hard HEAD
